In [264]:
from census import Census
import gmaps
import numpy as np
import pandas as pd
import requests
import time
from scipy.stats import linregress
from matplotlib import pyplot as plt

In [353]:
#States import
df1 = pd.read_csv('csvData.csv')
State1 = pd.DataFrame(df1) 
State1 = State1.drop([8])
State1.head()

        State  Abbrev Code
0     Alabama    Ala.   AL
1      Alaska  Alaska   AK
2     Arizona   Ariz.   AZ
3    Arkansas    Ark.   AR
4  California  Calif.   CA

In [354]:
#Corona data import 
df = pd.read_csv('united_states_covid19_cases_and_deaths_by_state.csv')
coronadata = pd.DataFrame(df)
coronadata = coronadata.drop(columns=['Confirmed Cases', 'Probable Cases','Cases in Last 7 Days','Case Rate per 100000','Confirmed Deaths', 'Probable Deaths','Deaths in Last 7 Days','Case Rate per 100000 in Last 7 Days'])

In [355]:
coronadata = coronadata.drop([3,8,11,13,28,34,44,45,47,54,60]) 
coronadata = coronadata.rename(columns={"State/Territory":"State"})   

coronadata.head()

,State,Total Cases,Total Deaths,Death Rate per 100000,Death Rate per 100K in Last 7 Days
0,Alaska,51693,257,35,0.6
1,Alabama,443009,6662,135,1.6
2,Arkansas,284702,4650,154,1.5
4,Arizona,727895,12239,168,1.9
5,California,3136158,37118,93,1.3

In [356]:
Coronastate = pd.merge(coronadata,State1,how="left",on=['State','State'])
Coronastate = Coronastate.drop(columns = {'Total Deaths','Death Rate per 100000',"Death Rate per 100K in Last 7 Days"}) 
Coronastate.head()

        State  Total Cases  Abbrev Code
0      Alaska        51693  Alaska   AK
1     Alabama       443009    Ala.   AL
2    Arkansas       284702    Ark.   AR
3     Arizona       727895   Ariz.   AZ
4  California      3136158  Calif.   CA

In [357]:
#Obestity import 
df = pd.read_csv('National_Obesity_By_State.csv')
Obesity = pd.DataFrame(df) 
Obesity = Obesity.rename(columns={"NAME":"State"}) 
Obesity.head()

   FID       State  Obesity  SHAPE_Length    SHAPE_Area
0    1       Texas     32.4  1.540832e+07  7.672329e+12
1    2  California     24.2  1.451870e+07  5.327809e+12
2    3    Kentucky     34.6  6.346699e+06  1.128830e+12
3    4     Georgia     30.7  5.795596e+06  1.652980e+12
4    5   Wisconsin     30.7  6.806782e+06  1.567816e+12

In [358]:
df1 = pd.read_csv('csvData.csv')
State = pd.DataFrame(df1) 
State.head()

        State  Abbrev Code
0     Alabama    Ala.   AL
1      Alaska  Alaska   AK
2     Arizona   Ariz.   AZ
3    Arkansas    Ark.   AR
4  California  Calif.   CA

In [359]:
ObseityFrame = pd.merge(
    Obesity, State, how="left", on=["State", "State"])

In [360]:
ObseityFrame.rename(columns={"Code": "State","State":"Name","Obesity":"Obesity (BMI)"}) 
ObseityFrame.head()

   FID       State  Obesity  SHAPE_Length    SHAPE_Area  Abbrev Code
0    1       Texas     32.4  1.540832e+07  7.672329e+12    Tex.   TX
1    2  California     24.2  1.451870e+07  5.327809e+12  Calif.   CA
2    3    Kentucky     34.6  6.346699e+06  1.128830e+12     Ky.   KY
3    4     Georgia     30.7  5.795596e+06  1.652980e+12     Ga.   GA
4    5   Wisconsin     30.7  6.806782e+06  1.567816e+12    Wis.   WI

In [361]:
FinalFrame = pd.merge(
    ObseityFrame, TotalCovid, how="left", on=["State", "State"]) 
ObseityFrame.head()

   FID       State  Obesity  SHAPE_Length    SHAPE_Area  Abbrev Code
0    1       Texas     32.4  1.540832e+07  7.672329e+12    Tex.   TX
1    2  California     24.2  1.451870e+07  5.327809e+12  Calif.   CA
2    3    Kentucky     34.6  6.346699e+06  1.128830e+12     Ky.   KY
3    4     Georgia     30.7  5.795596e+06  1.652980e+12     Ga.   GA
4    5   Wisconsin     30.7  6.806782e+06  1.567816e+12    Wis.   WI

In [362]:
ObesityFrame = ObseityFrame.drop(columns=['SHAPE_Length', 'SHAPE_Area','Abbrev','FID']) 
ObesityFrame = ObesityFrame.drop(38)    
ObesityFrame.head()

        State  Obesity Code
0       Texas     32.4   TX
1  California     24.2   CA
2    Kentucky     34.6   KY
3     Georgia     30.7   GA
4   Wisconsin     30.7   WI

In [363]:
ObesityFrame= ObesityFrame.rename(columns={"Code": "State","Obesity":"Obesity (BMI)"}) 
ObesityFrame = ObesityFrame.drop([35])

In [364]:
ObesityFrame.head()

        State  Obesity (BMI) State
0       Texas           32.4    TX
1  California           24.2    CA
2    Kentucky           34.6    KY
3     Georgia           30.7    GA
4   Wisconsin           30.7    WI

In [365]:
FinalFrame = pd.merge(
    ObseityFrame, Coronastate, how="left", on=["State", "State"]) 
FinalFrame

,FID,State,Obesity,SHAPE_Length,SHAPE_Area,Abbrev_x,Code_x,Total Cases,Abbrev_y,Code_y
0,1,Texas,32.4,1.540832e+07,7.672329e+12,Tex.,TX,2246845.0,Tex.,TX
1,2,California,24.2,1.451870e+07,5.327809e+12,Calif.,CA,3136158.0,Calif.,CA
2,3,Kentucky,34.6,6.346699e+06,1.128830e+12,Ky.,KY,347836.0,Ky.,KY
3,4,Georgia,30.7,5.795596e+06,1.652980e+12,Ga.,GA,870828.0,Ga.,GA
4,5,Wisconsin,30.7,6.806782e+06,1.567816e+12,Wis.,WI,582477.0,Wis.,WI
5,6,Oregon,30.1,7.976011e+06,3.178446e+12,Ore.,OR,138587.0,Ore.,OR
6,7,Virginia,29.2,7.710804e+06,1.158804e+12,Va.,VA,483326.0,Va.,VA
7,8,Tennessee,33.8,6.350377e+06,1.177054e+12,Tenn.,TN,710427.0,Tenn.,TN
8,9,Louisiana,36.2,7.383857e+06,1.355094e+12,La.,LA,385942.0,La.,LA
9,10,New York,25.0,7.981383e+06,1.411441e+12,N.Y.,NY,772569.0,N.Y.,NY
10,11,Michigan,31.2,1.240799e+07,1.657222e+12,Mich.,MI,600093.0,Mich.,MI
11,12,Idaho,28.6,9.081125e+06,2.593598e+12,Idaho,ID,160033.0,Idaho,ID
12,13,Florida,26.8,1.053393e+07,1.674411e+12,Fla.,FL,1627830.0,Fla.,FL
13,14,Alaska,29.8,6.663727e+06,5.301139e+11,Alaska,AK,51693.0,Alaska,AK
14,15,Montana,23.6,9.745472e+06,4.371466e+12,Mont.,MT,91816.0,Mont.,MT
15,16,Minnesota,26.1,8.530250e+06,2.367875e+12,Minn.,MN,455783.0,Minn.,MN
16,17,Nebraska,31.4,6.921600e+06,2.207444e+12,Nebr.,NE,187793.0,Nebr.,NE
17,18,Washington,26.4,7.508967e+06,2.214215e+12,Wash.,WA,302141.0,Wash.,WA
18,19,Ohio,29.8,5.015485e+06,1.158016e+12,Ohio,OH,868656.0,Ohio,OH
19,20,Illinois,30.8,6.172531e+06,1.571568e+12,Ill.,IL,1104763.0,Ill.,IL
20,21,Missouri,32.4,7.165633e+06,1.949021e+12,Mo.,MO,450414.0,Mo.,MO
21,22,Iowa,32.1,5.558145e+06,1.575589e+12,Iowa,IA,313515.0,Iowa,IA
22,23,South Dakota,30.4,6.680911e+06,2.199053e+12,S.D.,SD,107180.0,S.D.,SD
23,24,Arkansas,34.5,5.707634e+06,1.488699e+12,Ark.,AR,284702.0,Ark.,AR
24,25,Mississippi,35.6,5.834202e+06,1.327853e+12,Miss.,MS,266598.0,Miss.,MS
25,26,Colorado,20.2,7.092296e+06,3.066879e+12,Colo.,CO,387462.0,Colo.,CO
26,27,North Carolina,30.1,6.714056e+06,1.495756e+12,N.C.,NC,723445.0,N.C.,NC
27,28,Utah,24.5,6.798973e+06,2.614281e+12,Utah,UT,337264.0,Utah,UT
28,29,Oklahoma,33.9,7.857120e+06,1.982449e+12,Okla.,OK,380647.0,Okla.,OK
29,30,Wyoming,29.0,6.860971e+06,2.897400e+12,Wyo.,WY,51022.0,Wyo.,WY
30,31,West Virginia,35.6,5.374280e+06,6.851674e+11,W.Va.,WV,115839.0,W.Va.,WV
31,32,Indiana,31.3,4.858882e+06,1.010364e+12,Ind.,IN,613228.0,Ind.,IN
32,33,Massachusetts,24.3,4.197218e+06,2.472250e+11,Mass.,MA,489298.0,Mass.,MA
33,34,Nevada,26.7,8.240795e+06,3.564354e+12,Nev.,NV,271897.0,Nev.,NV
34,35,Connecticut,25.3,1.780631e+06,1.454219e+11,Conn.,CT,243632.0,Conn.,CT
35,36,District of Columbia,22.1,2.003250e+05,1.972102e+09,D.C.,DC,NaN,NaN,NaN
36,37,Rhode Island,26.0,9.845246e+05,3.617808e+10,R.I.,RI,111754.0,R.I.,RI
37,38,Alabama,35.6,5.750658e+06,1.442807e+12,Ala.,AL,443009.0,Ala.,AL
38,39,Puerto Rico,29.5,2.136273e+06,1.147839e+11,NaN,NaN,NaN,NaN,NaN
39,40,South Carolina,31.7,4.370941e+06,8.782704e+11,S.C.,SC,421417.0,S.C.,SC
40,41,Maine,30.0,5.560035e+06,9.903849e+11,Maine,ME,37708.0,Maine,ME
41,42,Hawaii,22.7,0.000000e+00,0.000000e+00,Hawaii,HI,24587.0,Hawaii,HI
42,43,Arizona,28.4,8.044184e+06,3.562686e+12,Ariz.,AZ,727895.0,Ariz.,AZ
43,44,New Mexico,28.8,8.075167e+06,3.622933e+12,N.M.,NM,169696.0,N.M.,NM
44,45,Maryland,28.9,5.850363e+06,3.039432e+11,Md.,MD,344620.0,Md.,MD
45,46,Delaware,29.7,1.383604e+06,5.908110e+10,Del.,DE,75191.0,Del.,DE
46,47,Pennsylvania,30.0,5.024348e+06,1.288452e+12,Pa.,PA,807867.0,Pa.,PA
47,48,Kansas,34.2,6.540498e+06,2.340366e+12,Kans.,KS,269255.0,Kans.,KS
48,49,Vermont,25.1,2.653732e+06,2.789313e+11,Vt.,VT,11165.0,Vt.,VT
49,50,New Jersey,25.6,2.599119e+06,2.246065e+11,N.J.,NJ,666951.0,N.J.,NJ
50,51,North Dakota,31.0,5.872756e+06,2.013152e+12,N.D.,ND,97006.0,N.D.,ND
51,52,New Hampshire,26.3,2.674767e+06,2.705294e+11,N.H.,NH,NaN,NaN,NaN